* {
    --happy-green: #8ac926;
    --chill-green: #80c25a;
    --happy-blue: #1982c4;
    --happy-pink: #ff595e;
    --happy-purple: #6a4c93;
    --light-black: #343a40;
    --soft-white: #f8f9fa;
}