body {
    background-color: #f8f9fa;
}
.c-main {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    &-grid {
        width: fit-content;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }
}